#headOfPage {
text-align: center;
border-style: solid ;
border-color:rgb(189, 107, 163)
}

#enterText {
    font-weight: bold;
}
.outPut{
    border-style: solid;
    border-color: #3e8e41;
}
#mainBody{
    text-align: center;
    border-style: dotted ;
}